<div class="row">
    <div class="col-md-6">
        <div style="display: block;">
            <canvas baseChart width="400" height="400"
                    [datasets]="lineChartData"
                    [labels]="selectedMetricsDates"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
        </div>
    </div>
    <div class="col-md-6" style="margin-bottom: 10px">
        <ul *ngFor="let metric of metricsList">
            <li (click)="updateMetricsResult(metric)" >{{metric}}</li>
        </ul>
    </div>
    <button (click)="updateMetricsList()"></button>
</div>
