<div class="row">
  <div class="col-md-12">
    <h3>Runtime Page Configuration <span class="badge badge-secondary"><span class="glyphicon glyphicon-align-left"></span></span></h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="alert alert-warning" role="alert">Pay attention! You can select maximum <strong>5</strong> methods to tarck into <strong>runtime</strong> page.</div>
    <div class="list-group">
      <div>
        <input class="form-control" [(ngModel)]="searchText" type="search" placeholder="Filter" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Apply</button>
      </div>
    </div>
    <div class="list-group">
      <span (click)="setTracked(metric)" href="#" cursor="hand" *ngFor="let metric of metricsList | filter : searchText" (click)="updateMetricsResult(metric)" class="list-group-item list-group-item-action">{{metric.methodName}}<span class="glyphicon glyphicon-ok" *ngIf="metric.selected"></span></span>

    </div>
  </div>
</div>
<mat-divider></mat-divider>
<div class="row">
  <div class="col-md-12">
    <h3>Setting Runtime Tracking Period <span class="badge badge-secondary"><span class="glyphicon glyphicon-text-width"></span></span></h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <mat-select placeholder="Tracking Period">
      <mat-option *ngFor="let interval of intervalTypes" [value]="interval.value">
        {{interval.viewValue}}
      </mat-option>
    </mat-select>
    <br />
    <h5>Enter interval value:</h5>
    <input type="number" [(ngModel)]="intervalNumber" />
   </div>
</div>
<mat-divider></mat-divider>
