<div class="row">
  <div class="col-md-12">
    <h3>Runtime Metrics Visualization <span class="badge badge-secondary"><span class="glyphicon glyphicon-align-left"></span></span></h3>
  </div>
</div>
<div class="row justify-conten-center">
    <div class="col-md-12" *ngIf="lineChartData[0].data.length==0">
      <br />
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>Connected successful. Getting you perfomance metrics information. Please wait... </p>
      </div>
    </div>
    <div class="col-md-offset-5 col-md-2">
      <mat-spinner *ngIf="lineChartData[0].data.length==0"></mat-spinner>
    </div>
    

    <div class="col-md-12" *ngIf="lineChartData[0].data.length>0">
      <div style="display: block;">
        <canvas baseChart width="400" height="200"
                [datasets]="lineChartData"
                [labels]="selectedMetricsDates"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>
<mat-divider></mat-divider>
<br />
<div class="row">
  <div class="col-md-12">
    <h3>Runtime Errors Visualization <span class="badge badge-secondary"><span class="glyphicon glyphicon-fire"></span></span></h3>
  </div>
</div>
<div class="row justify-conten-center">
  <div class="col-md-offset-5 col-md-2">
    <mat-spinner *ngIf="pieChartData.length==0"></mat-spinner>
  </div>
  <div class="col-md-12" *ngIf="pieChartData.length>0">
    <div style="display: block;">
      <canvas baseChart width="400" height="200"
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              (chartHover)="pieChartHovered($event)"
              (chartClick)="pieChartClicked($event)"></canvas>
    </div>
  </div>
</div>
