<div class="row justify-conten-center">
    <div class="col-md-12" *ngIf="lineChartData[0].data.length==0">
      <br />
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>Connected successful. Getting you perfomance metrics information. Please wait... </p>
      </div>
    </div>
    <div class="col-md-offset-5 col-md-2">
      <mat-spinner *ngIf="lineChartData[0].data.length==0"></mat-spinner>
    </div>
    

    <div class="col-md-12" *ngIf="lineChartData[0].data.length>0">
      <div style="display: block;">
        <canvas baseChart width="400" height="200"
                [datasets]="lineChartData"
                [labels]="selectedMetricsDates"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
      <span class="btn btn-primary" (click)="loadData()">Load Data</span>
    </div>
    <div class="col-md-12">
      <table>
        <tr>
          <th *ngFor="let label of selectedMetricsDates">{{label}}</th>
        </tr>
        <tr *ngFor="let d of lineChartData">
          <span>{{d.label}}</span>
          <td *ngFor="let label of selectedMetricsDates; let j=index">{{ d.data[j] }}</td>
        </tr>
      </table>
    </div>
  </div>
