<div class="row">
  <div class="col-md-12">
    <h3>Welcome to Flash Tuan Perfomance Analyzer <span class="badge badge-secondary">Start</span></h3>
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Well done!</h4>
      <p>Connected successful. Getting you perfomance metrics information. Please wait... </p>
    </div>
    <div class="alert alert-warning" role="alert">
      Please enter metrics data period to see available methods to see.
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <div class="list-group">
      <div>
        <input class="form-control" [(ngModel)]="searchText" type="search" placeholder="Filter" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Apply</button>
      </div>    
    </div>
    <div class="list-group">
      <span href="#" cursor="hand" *ngFor="let metric of metricsList | filter : searchText" (click)="updateMetricsResult(metric)" class="list-group-item list-group-item-action">{{metric}}</span>

    </div>
  </div>
  <div class="col-md-10" *ngIf="metricsList.length>0">
    <div style="display: block;">
      <canvas baseChart width="400" height="200"
              [datasets]="lineChartData"
              [labels]="selectedMetricsDates"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <form (ngSubmit)="updateMetricsList()" [formGroup]="dataRequestForm">

      <div class="form-group">
        <label for="PeriodFrom">Period Start</label>
        <input class="form-control" type="date" id="fromDate" formControlName="PeriodFrom" />
      </div>
      <div class="form-group">
        <label for="PeriodTo">Period End</label>
        <input class="form-control" type="date" id="PeriodTo" formControlName="PeriodTo" />
      </div>
      <div class="form-group">
        <label for="MethodName">Method Name</label>
        <input class="form-control" type="text" id="MethodName" formControlName="MethodName" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary mb-2" type="submit" [disabled]="!dataRequestForm.valid">Submit</button>
      </div>
    </form>
  </div>
</div>
